SITE_ORIGIN=https://www.hodlersdilemma.fun
SOLANA_RPC_URL=https://api.devnet.solana.com
PROTOCOL_PROGRAM_ID=GT42vQcCtut8XU4z7rm9MAoGrV462xB7qK16CDgMgWha
TOKEN_MINT=HfQqQ1SbpUD7NvPrP5wv2MqFooFcxsuJVcuc5utfpump
INITIAL_ADMIN=
SUPABASE_URL=
SUPABASE_SECRET_KEY=
SESSION_SECRET=
KEEPER_KEYPAIR_BASE64=
PUMP_CREATOR_KEYPAIR_BASE64=
FEE_COLLECTION_INTERVAL_MS=900000
