SITE_ORIGIN=https://www.hodlersdilemma.fun
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
TOKEN_MINT=HfQqQ1SbpUD7NvPrP5wv2MqFooFcxsuJVcuc5utfpump
SUPABASE_URL=
SUPABASE_SECRET_KEY=
SESSION_SECRET=
KEEPER_PRIVATE_KEY=
PUMP_CREATOR_PRIVATE_KEY=
MIN_HOLDING_TOKENS=500000
FEE_COLLECTION_INTERVAL_MS=900000
ROUND_LENGTH_SECONDS=1800
